[submodule "libraries/dcs-bios-arduino-library"]
	path = libraries/dcs-bios-arduino-library
	url = https://github.com/DCS-Skunkworks/dcs-bios-arduino-library.git
[submodule "libraries/Arduino_Boards"]
	path = libraries/Arduino_Boards
	url = https://github.com/sparkfun/Arduino_Boards.git
[submodule "libraries/Adafruit_NeoPixel"]
	path = libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "include/Arduino-Makefile"]
	path = include/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "libraries/Servo"]
	path = libraries/Servo
	url = https://github.com/arduino-libraries/Servo.git
[submodule "libraries/arduino-esp32"]
	path = libraries/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "include/makeEspArduino"]
	path = include/makeEspArduino
	url = https://github.com/plerup/makeEspArduino.git
[submodule "libraries/TCA9534"]
	path = libraries/TCA9534
	url = https://github.com/balzreber/TCA9534.git
[submodule "libraries/ArduinoJoystickLibrary"]
	path = libraries/ArduinoJoystickLibrary
	url = https://github.com/MHeironimus/ArduinoJoystickLibrary.git
[submodule "libraries/Stepper"]
	path = libraries/Stepper
	url = https://github.com/arduino-libraries/Stepper.git
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED
[submodule "libraries/RotaryEncoder"]
	path = libraries/RotaryEncoder
	url = https://github.com/mathertel/RotaryEncoder.git
[submodule "libraries/MultiMap"]
	path = libraries/MultiMap
	url = https://github.com/RobTillaart/MultiMap.git
[submodule "libraries/U8g2"]
	path = libraries/U8g2
	url = https://github.com/olikraus/U8g2.git
[submodule "libraries/AccelStepper"]
	path = libraries/AccelStepper
	url = https://github.com/waspinator/AccelStepper.git
